.flux {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 35px;
  padding: 8px;
  border-style: solid;
  border-color: #8467da;
  border-width: medium;
  border-radius: 5px;
  text-align: justify;
}
.fluxbox {
  display: flex;
  justify-content: center;
}

.text {
  height: auto;
}
p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.lesstext {
  height: 55px;
  overflow: hidden;
}

.flux:hover {
  background-color: #d0bbf8;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fluxbutton {
  margin-top: 10px;
  background-color: white;
  color: #8467da;
  font-size: 120%;
  font-style: bold;
  border-color: #8467da;
  border-style: solid;
  border-radius: 5px;
  height: fit-content;
  width: 100%;
  position: relative;
}

.noDisplayImg {
  display: none;
}
.displayImg {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 90%;
}
