.flux {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 35px;
  padding: 8px;
  border-style: solid;
  border-color: #8467da;
  border-width: medium;
  border-radius: 5px;
  text-align: justify;
}

.text {
  height: auto;
}
p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.lesstext {
  height: 55px;
  overflow: hidden;
}

.flux:hover {
  background-color: #8467da;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fluxbutton {
  margin-top: 10px;
  background-color: white;
  color: #8467da;
  font-size: 120%;
  font-style: bold;
  border-color: #8467da;
  border-style: solid;
  border-radius: 5px;
  height: fit-content;
  width: 17%;
  position: relative;
}

.favouriteBtn {
  border-color: #8467da;
  font-size: 15px;
  border-radius: 5px;
  width: 25%;
}
.favouriteBtn:hover {
  background-color: #5c45a0;
  box-shadow: 10px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
