.flux {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 35px;
  padding: 8px;
  border-style: solid;
  border-color: #8467da;
  border-width: medium;
  border-radius: 5px;
  text-align: justify;
}

.flux:hover {
  background-color: #8467da;
}

.fluxbutton {
  background-color: white;
  color: #8467da;
  border-color: #8467da;
  border-style: solid;
  border-radius: 5px;
  width: 10%;
  position: relative;
}
