.main-contact {
  height: 60%;
  width: 95%;
  border: 2px solid #8467da;
  border-radius: 10px;
  overflow: hidden;
  /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.contact {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: thistle;
}

.form-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-form1 {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-form1 > input {
  border-radius: 8px;
}
.content-form2 {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-form2 > input {
  border-radius: 8px;
}
.content-form3 {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.content-form3 > textarea {
  width: 60%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid #333;
}
