.Header {
  background-color: white;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.settings {
  margin-right: 10px;
  margin-top: 10px;
}

/* .Settings {
  margin-left: 10rem;
} */

/* @media screen and (min-width: 1100px) {
   .Settings {
     margin-left: 60rem;
   }
 } */
