.preferences {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  border-style: solid;
  border-color: #8467da;
}

.preferencesbtn {
  border: 0px;
  background-color: white;
  color: #8467da;
  font-size: 250%;
  margin-right: 10px;
}
.preferencesbtn:hover {
  font-weight: bold;
}
