.team1 {
  margin: 5px;
  width: 40%;
}
.teammember {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-style: solid;
  border-color: #8467da;
  margin-bottom: 15px;
}

.teamname {
  text-align: center;
  margin: 0px;
}
