.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #d0bbf8;
  margin-top: 35px;
  color: white;
  border-color: #8467da;
  font-size: 80%;
  margin-bottom: 25px;
  font-weight: bolder;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}

.button-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.PageScreen2 {
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(257deg, #ffffff, #8467da);
  background-size: 120% 120%;
  animation: gradient-animation 14s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
