.WelcomeText {
  display: flex;
  font-family: 'Arial Narrow Bold';
  margin-top: 10p;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.TextBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  border-color: #8467da;
  border-width: medium;
  border-radius: 5px;
  width: 90vw;
}
