.WelcomeText {
  display: flex;
  font-family: 'Arial Narrow Bold';
  margin-top: 7rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.Title {
  font-family: 'Arial Narrow Bold';
  justify-content: center;
}
