.WelcomeText {
  display: flex;
  font-family: 'Arial Narrow Bold';
  margin-top: 10px;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.TextBox {
  height: fit-content;
  flex-wrap: wrap;
  font-family: monospace;
  font-weight: bold;
  font-size: 160%;
  display: flex;
  font-style: italic;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  color: #8467da;
  border-color: #8467da;
  background-color: #f0eafe;
  border-width: medium;
  border-radius: 5px;
  width: 90vw;
  margin-top: 4vh;
  padding: 1vh;
}

.PageScreen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(257deg, #ffffff, #8467da);
  background-size: 120% 120%;
  animation: gradient-animation 14s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
